.menu {
    background-color: #333;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .menu ul li {
            display: inline-block;
            margin-right: 20px;
        }

            .menu ul li a {
                display: block;
                color: #fff;
                text-decoration: none;
                padding: 10px 15px;
            }

                .menu ul li a:hover {
                    background-color: #555;
                }

.content {
    padding: 20px;
}
