@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content">
    <header>
        <nav class="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Mascotas</a></li>
                <li><a href="#">Citas</a></li>
                <li><a href="#">Recetas Médicas</a></li>
                <li><a href="#">Medicamentos</a></li>
                <li><a href="#">Ventas</a></li>
                <li><a href="#">Historial Médico</a></li>
                <li><a href="#">Cotizaciones</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <h1>Bienvenido a la Clínica Veterinaria</h1>
    <p>¡Cuidando a tus mascotas como si fueran nuestras!</p>
</div>